[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
ta = "*"
jupyterlab = "*"
xgboost = "*"
scikit-learn = "*"
pmdarima = "*"
h2o = "*"
pandas-market-calendars = "*"
matplotlib = "*"
seaborn = "*"
icecream = "*"

[dev-packages]
mypy = "*"
black = { extras = ["jupyter"], version = "*" }
pytest = "*"

[requires]
python_version = "3.11"
