[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
ta = "*"
jupyterlab = "*"
xgboost = "*"
scikit-learn = "*"
pmdarima = "*"
h2o = "*"

[dev-packages]
mypy = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.9"
